/* Colors */
$clr-black:   #222;
$clr-grey:    #666;
$clr-grey-lt: #F8F8F8;
$clr-white:   #FFF;
$clr-yellow:  #ECEA15;
$clr-red:     #F03F35;

/* Z-Indexes */
$z-top:   999;
$z-modal-high: 890;
$z-modal-mid: 850;
$z-modal-low: 800;
$z-high:  777;
$z-mid:   555;
$z-low:   333;
$z-bottom: -1;

/*  Font Families  */
$ff-standard: sans-serif;
